[submodule "triangles_together/3rdparty/glfw"]
	path = triangles_together/3rdparty/glfw
	url = https://github.com/glfw/glfw
[submodule "triangles_together/3rdparty/glm"]
	path = triangles_together/3rdparty/glm
	url = https://github.com/g-truc/glm

[submodule "matrix/3rdparty/googletest"]
	path = matrix/3rdparty/googletest
	url = https://github.com/google/googletest
